*{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body{
    width: 1440px;
    margin: auto;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 176px;
    align-items: center;
    justify-content: center;
    gap: 240px;
}

.logo{
    width: 108px;
}

nav ul{
    color: #232851;
    display: flex;
    flex-direction: row;
    gap: 28px;
}

nav ul li{
    list-style-type: none;
    font-size: 13px;
}

.contact{
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 13px;
    width: 134px;
    height: 44px;
    background-color: #8B48BF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.banner{
    height: 650px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.banner img{
    width: 540px;
    height: 461px;
}

.banner article{
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 480px;
    height: 400px;
    text-align: right;
}

.banner article h1{
    display: flex;
    font-weight: 700;
    height: 228px;
    font-size: 50px;
    line-height: 57px;
    color: #232C50;
    letter-spacing: -3.5%;
}

.banner article p{
    line-height: 26px;
    font-size: 16px;
}

.banner article button{
    align-self: flex-end;
}

.contenedor1{
    display: flex;
    background: #8B48BF;
    color: #FFFFFF;
    height: 168px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.contenedor1 h2,.contenedor1 p{
    width: 450px;
    line-height: 26px;
}

.contenedor1 h2{
    font-size: 36px;
    line-height: 42px;
}

.contenedor2{
    display: flex;
    height: 428px;
    flex-wrap: wrap;
    justify-content: center;
    background: #FAFAFA;
    align-items: center;
}

.contenedor2 article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 530px;
    height: 162px;
    margin: 30px 0 0 0;
}

.contenedor2 button{
    align-self: flex-start;
    width: 69px;
    height: 43px;
    background-color: #8B48BF;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
}

.contenedor2 article div{
    height: 100%;
}

.contenedor2 h4{
    display: flex;
    align-items: center;
    font-weight: 700;
    height: 43px;
}

.contenedor2 article p{
    color: #B3B2B7;
    width: 437px;
    height: 104px;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
}

.contenedor3{
    height: 900px;
}

.contenedor4{
    display: flex;
    flex-direction: row;
    background-color: #8B48BF;
    height: 224px;
    justify-content: space-around;
    align-items: center;
}

.contenedor4 h2{
    font-size: 40px;
    width: 420px;
    height: 96px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 50px;
}

.contenedor4 button{
    border: none;
    border-radius: 40px;
    font-size: 13px;
    width: 134px;
    height: 44px;
    color: #8B48BF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

footer{
    display: flex;
    position: relative;
    color: #FFFFFF;
    height: 247px;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

footer .redesSociales{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 130px;
    justify-content: space-between;
}

.imgRedesSociales{
    display: flex;
    justify-content: space-between;
}

footer .navegacion{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 130px;
}

footer .navegacion ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 15px;
}

footer .navegacion ul li{
    font-weight: 400;
}

.buscador{
    height: 130px;
}

.buscador input{
    width: 244px;
    height: 44px;
    border: none;
    border-radius: 50px;
    font-size: 13px;
    padding-left: 10px;
    box-sizing: border-box;
}

.buscador button{
    height: 42px;
    width: 60px;
    background: #8B48BF;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    font-size: 13px;
}

.copyright{
    position: absolute;
    bottom: 30px;
    right: 150px;
    color: #8C8C94;
    font-size: 12.5px;
}





